
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

#cadre {
    position: relative;
    border: 5px solid lightgray;
    width: 1250px;
    height: 750px;
}

#img {
    position: absolute;
    width: 505px;
    height: 755px;
    top: 13px;
    left: 760px;
    background-image: url("vad.jpg");
    background-size: cover;
}

button {
    border-style: dashed;
    border-radius: 90px;
    padding: 10px;
    color: white;
    background-color: black;
}

#bt1 {
    position: absolute;
    right: 450px;
    top: 380px;
}

#bt2 {
    position: absolute;
    right: 40px;
    top: 380px;
}

#intro {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 13px;
    left: 13px;
    background-color: black;
    color: white;
    box-shadow: 0 0 50px 10px red inset;
}

#vad {
    position: absolute;
    font-size: xx-large;
    top: 15px;
    left: 30px;
    text-shadow: 10px 10px 10px rgb(233, 8, 8);
}

b {
    color: red;
}

p {
    position: absolute;
    font-size: medium;
    font-family: 'Goldman', cursive;
    padding: 5px;
    top: 50px;
    left: 30px;
}

span {
    font-family: 'Keania One', cursive;
    text-decoration: underline red;
    text-shadow: 10px 10px 10px rgb(233, 8, 8);
}

.intro {
    position: relative;
    display: inline;
    top: 150px;
    left: 30px;
    color: white;
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px 2px red inset;
}

.profile {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 250px;
    top: 13px;
    left: 513px;
    color: white;
    font-size: xx-large;
    text-align: center;
    box-shadow: 0 0 50px 10px red inset;
}

#p1 {
    position: relative;
    top: 80px;
}

.expe {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 250px;
    top: 263px;
    left: 13px;
    color: white;
    font-size: xx-large;
    text-align: center;
    box-shadow: 0 0 50px 10px red inset;
}

#e1 {
    position: relative;
    top: 80px;
}

.educ {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 250px;
    top: 263px;
    left: 263px;
    color: white;
    font-size: xx-large;
    text-align: center;
    box-shadow: 0 0 50px 10px red inset;
}

#e2 {
    position: relative;
    top: 80px;
}

.blog {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 250px;
    top: 263px;
    left: 513px;
    color: white;
    font-size: xx-large;
    text-align: center;
    box-shadow: 0 0 50px 10px red inset;
}

#b1 {
    position: relative;
    top: 80px;
}

.social {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 250px;
    top: 513px;
    left: 13px;
    color: white;
    font-size: xx-large;
    text-align: center;
    box-shadow: 0 0 50px 10px red inset;
}

#s1 {
    position: relative;
    top: 80px;
}

.contact {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 250px;
    top: 513px;
    left:263px;
    color: white;
    font-size: xx-large;
    text-align: center;
    box-shadow: 0 0 50px 10px red inset;
}

#c1 {
    position: relative;
    top: 80px;
}

.folio {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 250px;
    top: 513px;
    left:513px;
    color: white;
    font-size: xx-large;
    text-align: center;
    box-shadow: 0 0 50px 10px red inset;
}

#f1 {
    position: relative;
    top: 80px;
}

a:hover {
    color: red;
    background-image: url("sabre.jpg");
    background-size: cover;
 }




