


#cadre {
    position: relative;
    border: 5px solid lightgray;
    width: 1250px;
    height: 754px;

}

#img {
    position: absolute;
    width: 500px;
    height: 758px;
    top: 13px;
    left: 763px;
    background-image: url("vad.jpg");
    background-size: cover;
}

#intro {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 13px;
    left: 13px;
    background-color: black;
    border: 2px solid red;
    color: white;
}

span {
    position: absolute;
    font-size: xx-large;
    top: 15px;
    left: 30px;
}

p {
    position: absolute;
    font-size: larger;
    top: 50px;
    left: 30px;
}

.intro {
    position: relative;
    display: inline;
    top: 150px;
    left: 30px;
    color: white;
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
}

.profile {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    width: 250px;
    height: 250px;
    top: 13px;
    left: 513px;
    color: white;
    font-size: xx-large;
    text-align: center;
}

#p1 {
    position: relative;
    top: 80px;
}

.expe {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    width: 250px;
    height: 250px;
    top: 263px;
    left: 13px;
    color: white;
    font-size: xx-large;
    text-align: center;
}

#e1 {
    position: relative;
    top: 80px;
}

.educ {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    width: 250px;
    height: 250px;
    top: 263px;
    left: 263px;
    color: white;
    font-size: xx-large;
    text-align: center;
}

#e2 {
    position: relative;
    top: 80px;
}

.blog {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    width: 250px;
    height: 250px;
    top: 263px;
    left: 513px;
    color: white;
    font-size: xx-large;
    text-align: center;
}

#b1 {
    position: relative;
    top: 80px;
}

.social {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    width: 250px;
    height: 250px;
    top: 513px;
    left: 13px;
    color: white;
    font-size: xx-large;
    text-align: center;
}

#s1 {
    position: relative;
    top: 80px;
}

.contact {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    width: 250px;
    height: 250px;
    top: 513px;
    left:263px;
    color: white;
    font-size: xx-large;
    text-align: center;
}

#c1 {
    position: relative;
    top: 80px;
}

.folio {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    width: 250px;
    height: 250px;
    top: 513px;
    left:513px;
    color: white;
    font-size: xx-large;
    text-align: center;
}

#f1 {
    position: relative;
    top: 80px;
}

a:hover {
    color: red;
    background-image: url("sabre.jpg");
    background-size: cover;

 }




